@import "../../styles/color.scss";

.questionDetails {
  font-family: 'Arial', sans-serif;
  color: #f4f4f8;
  position: relative;
  z-index: 2;

  .invalid {
    border: 1px solid red;
    background-color: #ffe6e6;
  }
  
  .invalid input,
  .invalid select {
    border-color: red;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 0px 28px 0px;
    position: relative;
    z-index: 3;
    background-color: $main-bg;

    button {
      background-color: unset;
      padding: unset;
      margin: unset;
      gap: 10px;
    }

    .addButton {
      background-color: $main-bg;
      border: none;
      color: white;
      cursor: pointer;
      width: 35px;
      height: 35px;
      padding: unset;
      margin: unset;
    }
  }

  .toolsbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $main-bg;
    padding: 10px;
    z-index: 3;

    .addButton {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #4caf50;
      }

      img {
        width: 30px;
        height: auto;
        vertical-align: middle;
      }
    }
  }

  .question-container {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: black;
    background: $main-bg;
    border-radius: 5px;
    z-index: 3;
  }

  .list-container {
    flex: 1.5;
    padding: 1%;
    background: $main-bg;
    overflow: auto;
    z-index: 3;

    .empty{color: white;}

    .question-item {
      background: #2c3e50;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 15px;
      color: white;

      .question-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .question-info {
        color: white;
        font-weight: bold;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .question-actions {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;

          img {
            width: 30px;
            height: auto;
          }
        }
      }

      .options-container {
        margin-top: 10px;

        .option-item {
          background-color: #f4f4f8;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;

          .option-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              display: flex;
              align-items: center;
              gap: 10px;

              span {
                color: #333;
                font-weight: bold;
              }

              input[type="text"],
              select {
                flex: 1;
                padding: 8px 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                max-width: 200px;
                background-color: white;

                &:focus {
                  border-color: #0056b3;
                  outline: none;
                }
              }

              label {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #333;
                font-weight: bold;
              }
            }
          }

          .option-actions {
            display: flex;
            align-items: center;
            gap: 10px;

            .actionButton {
              background-color: transparent;
              border: none;
              padding: 0;
              cursor: pointer;

              img {
                width: 20px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }

  .edit-container {
    flex: 1.5;
    padding: 1%;
    color: white;
    background-color: #2a3447;
    position: relative;
    z-index: 3;

    .button-group {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .save-button {
      background-color: #04aa6d;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#04aa6d, 10%);
      }
    }

    .cancel-button {
      background-color: red;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(red, 10%);
      }
    }
  }

  .questionAddOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
