@import "/src/styles/color.scss";

.menu{

    .item{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;

        .title{
            font-size: 85%;
            font-weight: 500;
            color: $soft-color;
        }

        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            font-size: 125%;

            &:hover{
                background-color: $soft-bg;
                border-radius: 5px;
            }
        }
    }

    img{
        width: 15%;
        height: 15%;
        object-fit: cover;
    }
}