.quiz {
  .quiz-Info {
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .quiz-Content {
    display: flex;
    justify-content: space-between;

    .quiz-Filter {
      flex: 1;
      max-width: 300px;

      .filter-tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .tab-button {
          flex: 1;
          padding: 10px;
          background-color: #495057;
          border: 1px solid #ccc;
          cursor: pointer;
          color: #adb5bd;
          &.active {
            background-color: #007bff;
            color: white;
          }
        }
      }

      .user-Filter,
      .quiz-Filter {
        background-color: #343a40;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;

        .filter-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          h3 {
            margin: 0;
            color: #adb5bd;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }

        .filter-content {
          display: flex;
          flex-direction: column;
          label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            input {
              margin-left: 10px;
              width: auto;
            }
            span {
              flex: 1;
              text-align: left;
            }
          }
        }
      }

      .range-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .range-label {
          font-size: 14px;
        }

        input[type="range"] {
          flex: 1;
          margin: 0 10px;
        }
      }
    }

    .quiz-List {
      flex: 3;
      margin-right: 20px;

      .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        h2 {
          margin: 0;
        }

        .toggle-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            width: 22px;
            height: 22px;
          }
        }
      }

      .section {
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border: 1px solid #ccc;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f4f4f4;
          color: black;
          cursor: pointer;
        }
      }

      .loading {
        text-align: center;
        font-size: 18px;
        padding: 20px;
      }

      .collapsed {
        display: none;
      }

      .summary {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        p {
          margin: 0 0 10px 0;
        }
      }

      .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        button {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }

        select {
          background-color: #343a40;
          color: white;
          border: 1px solid #ccc;
          padding: 5px;
          cursor: pointer;
        }
      }
    }

    .view-icon {
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }

  .sort-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    img {
      width: 22px;
      height: 22px;
    }
  }

  .summary-box {
    background-color: #495057;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

    .summary-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h3 {
        margin: 0;
        color: white;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .summary-box-content {
      margin-top: 10px;
      background-color: #343a40;
      padding: 10px;
      border-radius: 5px;
    }

    .summary-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      span {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  .summary-boxes {
    margin-top: 20px;
  }
}
