.editForm{
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .editContect{
        font-size: large;
        width: 60%;

        .item{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .itemField{
                font-weight: 600;
                margin-right: 10px;
                text-transform: capitalize;

                .redStar{
                    color: red;
                }
            }

            .itemValueText{
                
            }

            .itemValueLongText{
                width: 100%;
                height: 100px;
                max-height: 50%;
                overflow-y: auto;
            }

            .itemCheckbox{

            }

            .itemOptions{
                color: #000;
            }
            
            .itemUploadFile{      
                height: 20%;
                width: 100%;
                overflow-x: hidden;
                margin: auto;

                    .itemPreviewUploadedFile{
                    display: flex;
                        
                    .previewText{
                        height: 100%;
                        width: 100%;
                        text-align: left;
                    }

                    .previewIcon{
                        height: 20%;
                        width: 20%;
                    }
                }
            }

        }

        .saveButton{
            margin-left: 10px;
        }

        .cancelButton{
            margin-left: 10px;
        }
    }
}