// custom-quill.scss

/* custom-quill.css */

.custom-quill {
    height: fit-content;
    width: 100%;
    color: #000;
  }
  
  .custom-quill .ql-toolbar {
    background-color: #ffffff; /* Set the desired background color for the toolbar */
  }
  
  .custom-quill .ql-container {
    background-color: #ffffff; /* Set the desired background color for the content area */
    text-align: left;
  }
  
  .custom-quill .ql-math .ql-editor {
    color: #ffffff; /* Set the desired color for the formula text */
  }

  .ql-editor {
    .ql-formula {
      color: #ffffff;
    }
  }