.navbar {
    width: 100%;
    height: 10%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 10px;
    }

    .icon {
        display: flex;
        align-items: center;
        padding-left: 20px;
        justify-content: center; /* Center the content horizontally */

        .userLogo,
        .logoutLogo {
          display: flex;
          align-items: center;
          gap: 10px;
          flex: 1;
        }
        
        .logoutLogo {
          justify-content: flex-end; /* Align the logout logo to the right */
        }
      }

    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
    }
}