@import "../../styles/color.scss";

.informationDetails {
  font-family: 'Arial', sans-serif;
  color: #f4f4f8;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 0 28px 0;
    position: relative;
    z-index: 12;
    background-color: $main-bg;

    button {
      background-color: unset;
      padding: unset;
      margin: unset;
      gap: 10px;
    }

    .addButton {
      background-color: $main-bg;
      border: none;
      color: white;
      cursor: pointer;
      width: 35px;
      height: 35px;
    }
  }

  .information-container {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: black;
    background: $main-bg;
    border-radius: 5px;
  }

  

  .selection-container {
    h3 {
      color: white;
    }
  }

  .rst__lineHalfHorizontalRight::before,
  .rst__lineFullVertical::after,
  .rst__lineHalfVerticalTop::after,
  .rst__lineHalfVerticalBottom::after {
    background-color: #f4f4f8;
  }

  .rst__tree {
    max-height: 90%;
  }

  .tree-container {
    flex: 1.75;
    border-right: 1px solid #ccc;
    padding: 1%;
    z-index: 11;
    background: $main-bg;
  }

  .edit-container {
    flex: 1.25;
    color: white;
    background-color: #2a3447;
    z-index: 13;
    max-height: 100vh; // Ensure it doesn't overflow its parent
    overflow: auto; // Enable scrolling if content overflows
    display: flex; // Flexbox to handle content alignment
    justify-content: center; // Center the form horizontally
    align-items: flex-start; // Align the form at the top
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column; // Ensure items are arranged vertically
    gap: 5px; // Add gap between items for better spacing
    max-width: 600px; // Ensure it doesn't overflow the container
    width: 100%; // Ensure it takes full width
    box-sizing: border-box; // Include padding in the element's total width and height
    background-color: #2a3447; // Ensure form background color matches container
    border-radius: 8px; // Add some rounding to form edges
    position: relative;
  
    label {
      display: block;

    }
  
    input[type="text"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    textarea {
      height: 100px;
      resize: vertical;
    }
  
    .button-group {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  
    .save-button,
    .cancel-button {
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .save-button {
      background-color: #04aa6d;
  
      &:hover {
        background-color: darken(#04aa6d, 10%);
      }
    }
  
    .cancel-button {
      background-color: red;
  
      &:hover {
        background-color: darken(red, 10%);
      }
    }
  
    .edit-form-fileSelection {
      background-color: #fff;
      color: black;
      display: center;
    }
  
    button {
      white-space: nowrap;
    }
  
    .media-preview-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  

  .actionSet {
    display: flex;
  }

  .actionSet button {
    padding: 0.5em 1em;
    font-size: 0.8rem;
    max-width: 100px;
    max-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: auto;
    }

    background-color: white;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .footerOfCategory {
    color: white;
    padding-bottom: 1%;
    display: flex;
    gap: 1%;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }

    .footerButtons {
      background-color: unset;
      padding: unset;
      margin: unset;
    }
  }

  .toolBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .otherButtons {
    display: flex;
    gap: 10px;
  }

  .searchBox {
    display: flex;
    align-items: center;

    input {
      margin-right: 5px;
      padding: 5px;
      border: 1px solid #ccc;
      width: 200px;
      height: 36px;
    }
  }

  .toolsButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    height: 36px;
    font-size: large;

    img {
      width: 20px;
      height: auto;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .rst__expandButton,
  .rst__collapseButton {
    position: absolute !important;
    top: auto !important;
    right: auto !important;
    bottom: 8px;
  } 

  .nodeOverlay,
  .treeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; // Adjusted z-index for treeOverlay
  }

  .nodeOverlay {
    z-index: 12;
  }
}

// Responsive adjustments
@media (max-width: 1200px) {
  .selection-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .selection-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .selection-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .selection-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.information-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .selection-title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }

  .selection-container {
    display: grid;
    width: calc(100% - 40px);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    .category-item {
      background-color: #5f5f5f;
      border: 5px solid #6a8eae;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 1%;
        width: 90%;
        background-color: #fff;
        top: 65%;
      }

      button {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10%;

        &:last-child {
          background-color: transparent;
          margin-right: 0;
        }

        &:first-child {
          background-color: unset;
          color: white;

          &:hover {
            background-color: #ffffff80;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:hover {
          background-color: #ffffff80;
          border-radius: 25%;
        }
      }

      .categoryTools {
        display: flex;
        flex-direction: row;
        gap: 30px;
      }

      &:hover {
        background-color: #a792bd;
        border-radius: 25%;
      }
    }
  }
}