.dataTable {
    .dataGrid {
      background: white;
      padding: 1%;
      overflow-y: auto; /* Enable vertical scroll */
      font-size: 1.25rem;

    .css-1knaqv7-MuiButtonBase-root-MuiButton-root{
      font-size: 1.25rem;
    }

    
    .css-ptiqhd-MuiSvgIcon-root{
      font-size: 2rem;
    }

    .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
      overflow-y: scroll;
    }

    .MuiDataGrid-withBorderColor{
      min-height: 100px;
      max-height: 100px;
    }

      .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1%;
      }
  
      .MuiDataGrid-cell--actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
  
      .actionSet {
        display: flex;
        align-items: center;
        cursor: pointer;
        object-fit: cover;
        gap: 30px;
  
        .delete {
          color: #ff0000;
        }
  
        .navigate {
          color: #0000ff;
        }

        .edit {
          color: green;
        }
  
        img {
          max-width: 25px;
          max-height: 25px;
        }
      }
    }
  }