.dataTable{
    .dataGrid{
        background: white;
        padding: 20px;
        overflow-y: auto; /* Enable vertical scroll */

        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .edit{
        display: flex;
        align-items: center;
        cursor: pointer;
        object-fit: cover;

        img{
            width: 35%;
            height: 35%;
        }

    }
}
